# Ignore environment files
client/.env
server/.env


# Ignore public folder if necessary
server/public/

# Ignore machine learning backend models and specific Python scripts
ML backend/models/
ML backend/.env
ML backend/optimize